/*
 * Colores
 */
.bg-charcoal {
    background: #3C3B3D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
}

.drag-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.panels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.panel {
    height: 200px;
    background: chartreuse;
}